// MEDIA-QUERIES

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$screen-xxl-min: 1400px;

$screen-xxxl-min: 1500px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra EXTRA large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Extra EXTRA large devices
@mixin xxxl {
  @media (min-width: #{$screen-xxxl-min}) {
    @content;
  }
}

body{
  background-color:#212529 ;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  background-color:#212529;
}

.button{
  border-radius: 10px;
  background-color: #FF6892;
  color: #212529;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #ffff;
  padding:10px 20px;
  transition: all .5s ease-in-out;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}
.button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(#fff,.2); 
}
.message-container{
  border-radius: 10px;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding:  1rem 2rem;
  background-color:rgba(#ffff, 0.03) ;
  box-shadow: 2px 2px 4px rgba(#fff,.1); 
}
.message-container:nth-child(1){
  margin: 0 0 2rem 0;
}

.message{
  padding-bottom: 2rem;

  &__date {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    font-weight: 300;
  }
  &__toolLinks{
    display: flex;
    justify-content: flex-end;
  }
}

video{
box-shadow: 0 0 8px rgba(#fff,.1); 
  width: 350px;
  height: auto;
  @include sm{
    width:500px;
  }
  @include md{
    width:800px;
  }
  @include lg{
    width:950px;
  }
  @include xl{
    width:1000px;
  }
  
}
.video-container{
  margin: 4rem 0 4rem 0;
  }

a{
  text-decoration: none ;
  z-index: 1;
}
// ----------------------Form--------
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 2rem;
  background-color:rgba(#ffff, 0.03) ;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(#fff,.1); 
}
.field{
  padding: 2rem 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;

  @include md {
    width: 500px;
  }
  
}
textarea{
  border: none;
  border-radius: 10px;
  padding:10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
z-index: 1;
}
.formBlobBody {
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.smallBlob {
  position: absolute;
  top: 0;
  left: 0;
  animation: smallMove 25s ease-in-out infinite;
}
.smallCircle{
  border-radius: 50%;
  width: 10rem;
  height:10rem;
  background: radial-gradient(90% 90% at 58.75% 34%, #FF6892 0%, #FA6322 100%);
  

  @include md{
    width: 20rem;
    height:20rem;
  }
}
@keyframes smallMove {
  0% {
    transform:  translate(-10px, -90px);
  }
  38% {
    transform:  translate(25vw, 10vh);
  }
  40% {
    transform:  translate(25vw, 10vh);
  }
  78% {
    transform:  translate(-5vw, 40vh);
  }
  80% {
    transform:  translate(-5vw, 40vh);
  }
  100% {
    transform:  translate(-10px, -90px);
  }
}
// -----------------------------------
.hidden{
  display: none;
}
p{
  font-family: 'Poppins', sans-serif;
  color: #f6cabf;
  letter-spacing: 1px;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight:300;
  color: #f6cabf;
  letter-spacing: 2px;
  
}
h2,h3, .timestamp{
  font-family: 'Inconsolata', monospace;
  color: #f6cabf;
  letter-spacing: 1px;
  z-index: 1;
}
h4{
  font-weight: 400;
  font-family: 'Inconsolata', monospace;
  color: #f6cabf;
  letter-spacing: 1px;
}

// ------------HEADER----------------
.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#2D2D2D;
  border-bottom-left-radius:10rem ;
  margin-bottom: 2rem;
}

.blobBody {
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  animation: move 35s ease-in-out infinite;
}

.circle{
  border-radius: 50%;
  width: 10rem;
  height:10rem;
  background: radial-gradient(90% 90% at 58.75% 34%, #FF6892 0%, #FA6322 100%);

  @include md{
    width: 30rem;
    height:30rem;
  }
}

.container-title{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem;
  color: #f6cabf;
}
@keyframes move {
  0% {
    transform:  translate(10px, -90px);
  }
  38% {
    transform:  translate(90vw, 10vh);
  }
  40% {
    transform:  translate(90vw, 10vh);
  }
  78% {
    transform:  translate(-5vw, 20vh);
  }
  80% {
    transform:  translate(-5vw, 20vh);
  }
  100% {
    transform:  translate(10px, -90px);
  }
}