body{
  background-color:#2b2b2b ;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  background-color:#2b2b2b ;
  color: #fa225e;
}
.button{
  border-radius: 10px;
  background-color: #fa225e;
  color: #ffff;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #ffff;
  padding:10px 20px;
  transition: all .5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}
.button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(#fff,.2); 
  text-shadow: 0 0 8px rgba(#fff,.2); 
}
.message-container{
  border-radius: 10px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding:  2rem;
  background-color:rgba(#ffff, 0.1) ;
  color: #ffff;
}
.message-container:nth-child(1){
  margin: 0 0 2rem 0;
}

.message{
  color: #ffff;
  font-weight: 600;
  padding-bottom: 2rem;

  &__date {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
    font-weight: 300;
  }
  &__toolLinks{
    display: flex;
    justify-content: flex-end;
   
  }
}

.video-container{
  padding: 2rem 0 4rem 0;
}

a{
  color: #fa225e ;
  text-decoration: none ;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color:rgba(#ffff, 0.1) ;
  border-radius: 10px;
}
.field{
  padding: 2rem 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea{
  border: none;
  border-radius: 10px;
  padding:10px 20px;
}

.hidden{
  display: none;
}
h2, div{
  // font-family: 'Inconsolata', monospace;
  font-family: 'Poppins', sans-serif;
}

.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-button{
  border: none;
  border-radius: 10px;
  margin: 1rem;
}